---
layout: layouts/home.njk
permalink: /software/
eleventyNavigation:
  key: software
  order: 3
---
{% set maxPosts = collections.software.length %}
<h1>software</h1>

{% set postslist = collections.software %}
{% set postslistCounter = collections.software | length %}
{% include "postslist.njk" %}
