<ol reversed class="postlist">
{% for item in list | reverse %}
  <li class="postlist-item{% if item.url == url %} postlist-item-active{% endif %}">
    <a href="{{ item.url | url }}" class="postlist-link">{% if item.title %}{{ item.title }}{% else %}<code>{{ item.url }}</code>{% endif %}</a>
    {% for tag in item.tags | filterTagList %}
      <span class="post-tag">{{ tag }}</span>
    {% endfor %}
  </li>
{% endfor %}
</ol>